AddDefaultCharset UTF-8

<IfModule mod_expires.c>
    # Cache de 1 mês a partir da data de acesso do arquivo
    <FilesMatch "\.(?i:ico|gif|jpe?g|png|css|js|svg)$">
        ExpiresDefault "access plus 1 mouth"
    </FilesMatch>

    # Trabalha o if-modified-since com arquivos de estáticos, como images, js, css, etc
    <FilesMatch "\.(?i:ico|gif|jpe?g|png|css|js|svg)$">
        # Cache para um mês
        <IfModule mod_expires.c>
            ExpiresActive On
            ExpiresDefault "access plus 1 mouth"
        </IfModule>

        # Remove Etag para previnir o uso do mesmo
        # Pois iremos trabalhar com if-modified-since e last-modifed
        FileETag None
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} \.rev-[0-9]+\.(js|css)$
    RewriteRule ^(.*)\.rev-[0-9]+\.(js|css)$ $1.$2 [L]
    
    RewriteCond %{REQUEST_URI} ^/(images|js|css|vendor)
    RewriteRule .* - [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>

<IfModule mod_php5.c>
    php_value session.save_path ../sessions
    php_value upload_max_filesize 200M
    php_value post_max_size 200M
    php_value max_input_vars 5000
    php_value date.timezone America/Fortaleza
    php_value error_log "../log/php_errors.log"
</IfModule>

<IfModule mod_php7.c>
#    php_value session.save_path ../sessions      
#    php_value upload_max_filesize 200M      
#    php_value post_max_size 200M      
#    php_value max_input_vars 5000      
#    php_value date.timezone America/Sao_Paulo
    php_value error_log "../log/php_errors.log"
</IfModule>

<IfModule mod_speling.c>
  CheckSpelling On
  CheckCaseOnly On
</IfModule>
